html {
    scroll-behavior: smooth;
}

@keyframes spin {
    0% { transform: rotate(0deg) scale(1) }
    100% { transform: rotate(360deg) scale(1.2) }
}
$theme-light : rgb(255, 255, 255);
$theme-dark : rgb(17, 24, 39);

body {
    background-color: $theme-light;
    @media (prefers-color-scheme: light) {
        & {
            background-color: $theme-light;
        }
    }
    @media (prefers-color-scheme: dark) {
        & {
            background-color: $theme-dark;
        }
    }
    &.light {
        background-color: $theme-light;
    }
    &.dark {
        background-color: $theme-dark;
    }
}

nav > div:first-child{
    transform: scaleY(0);
    transition: all .125s ease-out;
}

nav > div:first-child.show {
    transform: scaleY(1);
    opacity: 1;
}

.__react_component_tooltip {
    user-select: none;
    opacity: 0;
}

@keyframes companies {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-100%);
    }
}

.companies {
    ul {
        animation: companies 30s linear infinite;
    }

    &:hover ul {
        animation-play-state: paused;
    }

    $theme: rgb(255, 255, 255);
    &:before,
    &::after {
        content: "";
        background: linear-gradient(to right, transparentize($theme-light, 0) 0, transparentize($theme-light, 1) 100%);
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 8%;
        z-index: 2;
    }

    &::after {
        left: unset;
        right: 0;
        background: linear-gradient(to left, transparentize($theme-light, 0) 0, transparentize($theme-light, 1) 100%);
    }
}

.dark .companies {
    &::before {
        background: linear-gradient(to right, transparentize($theme-dark, 0) 0, transparentize($theme-dark, 1) 100%);
    } 
    &::after {
        background: linear-gradient(to left, transparentize($theme-dark, 0) 0,transparentize($theme-dark, 1) 100%);
    }
}
