@font-face {
    font-family: "Source Sans Pro";
    src: local("Source Sans Pro"),
        url("/fonts/source-sans-pro/SourceSansPro-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Source Sans Pro";
    src: local("Source Sans Pro"),
        url("/fonts/source-sans-pro/SourceSansPro-SemiBold.woff2")
            format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Source Sans Pro";
    src: local("Source Sans Pro"),
        url("/fonts/source-sans-pro/SourceSansPro-Regular.woff2")
            format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
